dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
/#29jan2024.hs#
/29jan2024.hs
/31jan_2024.hs
/ch2.hs
/hw1/pat_1_bag.hs
/hw2/1_mini_logo
